<main class="container">
  <section class="card">
    <h2>Create Account</h2>
    <form
      class="form-group"
      [formGroup]="customerForm"
      (submit)="customerFormSubmit()"
    >
      <label for="name">Name</label>
      <input type="text" placeholder="Name" formControlName="name" id="name" />
      <span
        *ngIf="
          customerForm.get('name').touched && customerForm.get('name').errors
        "
        >Place a valid name</span
      >

      <label for="lastName">Last Name</label>
      <input
        type="text"
        placeholder="Last Name"
        formControlName="lastName"
        id="lastName"
      />
      <span
        *ngIf="
          customerForm.get('lastName').touched &&
          customerForm.get('lastName').errors
        "
        >Place a valid last name</span
      >

      <label for="email">Email</label>
      <input
        type="text"
        placeholder="Email"
        formControlName="email"
        id="email"
      />
      <span
        *ngIf="
          customerForm.get('email').touched && customerForm.get('email').errors
        "
        >Place a valid email</span
      >

      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        id="password"
      />
      <span
        *ngIf="
          customerForm.get('password').touched &&
          customerForm.get('password').errors
        "
        >Place a valid password</span
      >

      <button
        class="button-sign-in"
        type="submit"
        (submit)="customerFormSubmit()"
        [disabled]="customerForm.invalid"
      >
        Create
      </button>
    </form>
  </section>
</main>
