.card {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #303030;
    font-weight: bold;
    text-align: center;
  }

  .form-group {
    margin-top: 1rem;

    .label {
      margin-top: 10px;
    }

    ion-label {
      font-weight: bold;
      margin-top: 1rem;
    }

    .input {
      background-color: #f5f5f5;
      box-shadow: 0px 0px 6px 0px #ccc;
      border-radius: 0.5rem;
    }

    ion-button {
      font-weight: bold;
      margin-top: 20px;
    }
  }
}


